{% extends 'base.html' %}

{% block content %}
<h1>
    Me,
</h1>
<p>
    I'm Friday Godswill. Software Developer at parcelLab
    <br />
    I <a href='http://github.com/faradayyg' rel="noopener" target="_blank">build fun stuff</a> with PHP, JavaScript and Python. I like to consider myself a fullstack developer, this means that I not only do back-end development, I also do a bit of design, and front-end development. (like this lovely site before you).
</p>
<p>
    I also write about many random things on my <a href="https://fridayg.swish.ink/">blog</a>. 
</p>
<p>
    When I am not programming, you can find me playing/watching <a href="https://apexlegendsstatus.com/profile/PS4/faradayyg">Apex legends</a>, in Church or attempting to <a href="/posts">play a musical instrument</a>.
</p>
{% endblock %}
