{% extends 'base.html' %}

{% block content %}
<section class="blog-page">
<h1>My fleeting interests</h1>
<p>Sometimes, I fiddle around with stuff and they get lost in the void. I have decided to share some of them on this page</p>
{% for post in posts %}
<article class="blog-post">
        <a href="{% url 'post_detail' post.id post.slug %}">
            <h2>{{ post.title }}</h2>
        </a>
        <small>{{post.created_at}}</small><br />
    {% if post.thumbnail %}
    <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" class="blog-image">
    {% endif %}
    <p class="blog-post">{{ post.description }}</p>
    <a class="read-more read-more-button" href="{% url 'post_detail' post.id post.slug %}">Read more...</a>
</article>
{% endfor %}
</section>
{% endblock %}
{% block footer %}
{% endblock %}

